In [27]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

In [116]:
df = pd.read_csv('./최종환승역.csv')

In [117]:
df

          후보역      지하철역        거리
0  강변(동서울터미널)  광나루(장신대)  1.370774
1  봉화산(서울의료원)        망우  2.005859
2          일원        삼전  2.299789

In [129]:
url = 'https://map.naver.com/v5/subway/1000/-/-/-?c=15,0,0,0,dh'
driver = webdriver.Chrome('chromedriver.exe')
driver.get(url)

In [130]:
df['기존 소요시간'] = ''
for i in df.index:
    driver.find_element(By.ID, 'input_search_0').click()
    time.sleep(0.5)
    driver.find_element(By.ID, 'input_search_0').send_keys(df.loc[i, '후보역'].split('(')[0])
    time.sleep(0.5)
    driver.find_element(By.CLASS_NAME, 'link_station').click()
    time.sleep(0.5)
    driver.find_element(By.ID, 'input_search_1').click()
    time.sleep(0.5)
    driver.find_element(By.ID, 'input_search_1').send_keys(df.loc[i, '지하철역'].split('(')[0])
    time.sleep(0.5)
    driver.find_element(By.CLASS_NAME, 'link_station').click()
    time.sleep(1)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    time.sleep(3)
    df.loc[i, '기존 소요시간'] = soup.select_one('.summary_area .title_box .title').text
    time.sleep(2)
    
    driver.find_element(By.CLASS_NAME, 'btn_clear').click()
    time.sleep(3)

In [131]:
df['기대 소요시간'] = round(df['거리']/ 35 * 60, 1)
df

          후보역      지하철역        거리 기존 소요시간  기대 소요시간
0  강변(동서울터미널)  광나루(장신대)  1.370774     21분      2.3
1  봉화산(서울의료원)        망우  2.005859     22분      3.4
2          일원        삼전  2.299789     22분      3.9