In [1]:
import pandas as pd

In [2]:
build_info = pd.read_csv("../data/수정 전 데이터/서울교통공사_역사건축정보_20210628.csv", encoding="cp949")
build_info.head()

   연번  호선    역명   형식  길이(M)  층수   면적(m²)  준공연도
0   1   1    서울   섬식    210  B2  10805.0  1974
1   2   1    시청  상대식    210  B2  11317.0  1974
2   3   1    종각  상대식    210  B2  10410.2  1974
3   4   1  종로3가  상대식    210  B2   9311.0  1974
4   5   1  종로5가  상대식    210  B2  10465.0  1974

In [3]:
build_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      296 non-null    int64
 1   호선      296 non-null    int64
 2   역명      296 non-null    object
 3   형식      296 non-null    object
 4   길이(M)   296 non-null    int64
 5   층수      296 non-null    object
 6   면적(m²)  296 non-null    float64
 7   준공연도    296 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 18.6+ KB

In [4]:
build_info1 = pd.read_csv("../data/수정 전 데이터/국가철도공단_수도권1호선_역구조_데이터_20221013.csv", encoding="cp949")
build_info1.head()

  철도운영기관명   선명   역명 지상구분  역층      면적
0  서울교통공사  1호선  동대문   지하   2  3400.0
1  서울교통공사  1호선  동대문   지하   1  2090.0
2  서울교통공사  1호선  동묘앞   지하   2  5132.0
3  서울교통공사  1호선  동묘앞   지하   1  5132.0
4  서울교통공사  1호선  서울역   지하   1  8725.0

In [5]:
build_info1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  205 non-null    object
 1   선명       205 non-null    object
 2   역명       205 non-null    object
 3   지상구분     205 non-null    object
 4   역층       205 non-null    int64
 5   면적       90 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 9.7+ KB

In [6]:
build_info2 = pd.read_csv("../data/수정 전 데이터/국가철도공단_코레일_역구조_데이터_20220920.csv", encoding="cp949")
build_info2.head()

  철도운영기관명   선명   역명 지상구분  역층      면적
0     코레일  1호선   오산   지상   2     NaN
1     코레일  1호선  오산대   지상   1  2890.0
2     코레일  1호선  오산대   지상   2     NaN
3     코레일  1호선   온수   지상   1     NaN
4     코레일  1호선   온수   지상   2     NaN

In [7]:
build_info2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  539 non-null    object
 1   선명       539 non-null    object
 2   역명       539 non-null    object
 3   지상구분     539 non-null    object
 4   역층       539 non-null    int64
 5   면적       108 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 25.4+ KB

In [8]:
# 필요한 컬럼만 추출
build_info = build_info[['역명', '면적(m²)', '층수']]
build_info1 = build_info1[['역명', '면적', '역층']]
build_info2 = build_info2[['역명', '면적', '역층']]

In [9]:
# 역명 중복확인
build_info['역명'].nunique()

258

In [10]:
build_info['층수'].replace({
    'B2': 2, '5FB2': 7, 'B3': 3, '2F': 2, '3F': 3, '1F': 1, 'B1': 1, '2FB3': 5, 'B4': 4, '4F': 4, 
    '1FB5': 6, '2FB2': 4, 'B5': 5, 'B6': 6, 'B8': 8, '1FB2': 3, '1FB3': 4, '2FB1': 3
    }, inplace=True)

In [11]:
# 역별 총 면적, 층수
build_info_floor = build_info.groupby('역명')[['층수']].sum()
build_info = build_info.groupby('역명').sum()
build_info1_floor = build_info1.groupby('역명')[['역층']].max()
build_info1 = build_info1.groupby('역명').sum()
build_info2_floor = build_info2.groupby('역명')[['역층']].max()
build_info2 = build_info2.groupby('역명').sum()

In [12]:
build_info1.drop(columns='역층', inplace=True)
build_info2.drop(columns='역층', inplace=True)

In [13]:
build_info['층수'] = build_info_floor
build_info1['층수'] = build_info1_floor
build_info2['층수'] = build_info2_floor

In [14]:
build_info.reset_index(inplace=True)
build_info1.reset_index(inplace=True)
build_info2.reset_index(inplace=True)

In [15]:
build_info.columns = ['지하철역', '면적', '층수']
build_info1.columns = ['지하철역', '면적', '층수']
build_info2.columns = ['지하철역', '면적', '층수']

In [16]:
# build_info와 겹치는 build_info1의 역데이터는 삭제
for i in build_info['지하철역']:
    if len(build_info1[build_info1['지하철역'].str.contains(i)]) != 0:
        index = build_info[build_info['지하철역'] == i].index
        area = build_info.loc[index, '면적']
        if float(area) == 0:
            build_info.loc[index, :] = build_info1[build_info1['지하철역'] == i]
        else:
            build_info1.drop(index=build_info1[build_info1['지하철역'] == i].index, inplace=True)

In [17]:
# 면적 정보가 없는 역 삭제
build_info1.drop(index = build_info1[build_info1['면적'] == 0].index, inplace=True)

In [18]:
org = pd.concat([build_info, build_info1], ignore_index=True)

In [19]:
# build_info와 겹치는 build_info2의 역데이터는 삭제
for i in build_info['지하철역']:
    if len(build_info1[build_info1['지하철역'].str.contains(i)]) != 0:
        index = build_info[build_info['지하철역'] == i].index
        area = build_info.loc[index, '면적']
        if float(area) == 0:
            build_info.loc[index, :] = build_info1[build_info1['지하철역'] == i]
        else:
            build_info1.drop(index=build_info1[build_info1['지하철역'] == i].index, inplace=True)

In [20]:
# 면적 정보가 없는 역 삭제
build_info2.drop(index = build_info2[build_info2['면적'] == 0].index, inplace=True)

In [21]:
build_info = pd.concat([build_info, build_info1], ignore_index=True)

In [ ]:
build_info.to_csv('../data/수정 후 데이터/build_info.csv', index=False)