In [1]:
import pandas as pd

In [2]:
# 데이터 로드
df_group = pd.read_csv('../data/수정 전 데이터/무임승차_대상별_현황_2016-2021.csv', encoding='cp949')

In [3]:
df_group.head()

,운영기관별(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,...,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9
0,운영기관별(1),계,계,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,...,계,계,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,기타
1,운영기관별(1),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),...,무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원)
2,합계,431540,564065,345012,450692,80733,105766,5500,7233,296,...,380197,510236,315412,423193,60463,81260,3855,5168,467,615
3,서울교통공사,-,-,-,-,-,-,-,-,-,...,205748,278438,170771,231108,32868,44477,2109,2853,-,-
4,서울메트로,151738,206478,121979,165984,27736,37741,2023,2753,-,...,-,-,-,-,-,-,-,-,-,-

In [4]:
# 기존의 합계 column 삭제
df_group.drop(index=2, inplace=True)

In [5]:
# 결측치 처리('-' -> 0으로 변경)
df_group.replace('-', 0, inplace=True)

In [6]:
for i in df_group.columns:
    # 불필요한 columns 삭제
    if (df_group[i][0] == '계'):
        df_group.drop(columns=i, inplace=True)
    else:
        # column 이름 변경
        if i == '운영기관별(1)':
            df_group.rename(columns={i: '년도'}, inplace=True)
        df_group.rename(columns={i: i.split('.')[0]}, inplace=True)

In [7]:
df_group.iloc[0, 0] = '대상'
df_group.iloc[1, 0] = '인원/비용'

In [8]:
df_group.head()

,년도,2016,2016,2016,2016,2016,2016,2016,2016,2017,...,2020,2020,2021,2021,2021,2021,2021,2021,2021,2021
0,대상,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,기타,노인,...,기타,기타,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,기타
1,인원/비용,무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),...,무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원)
3,서울교통공사,0,0,0,0,0,0,0,0,208466,...,0,0,170771,231108,32868,44477,2109,2853,0,0
4,서울메트로,121979,165984,27736,37741,2023,2753,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,서울특별시 도시철도공사,81162,109756,20278,27436,1473,1992,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# 년도별 데이터로 분리
df_group_2016 = df_group[['년도', '2016']].T
df_group_2016.reset_index(inplace=True)
df_group_2016.columns = df_group_2016.iloc[0]
df_group_2016.drop(index=0, inplace=True)

df_group_2017 = df_group[['년도', '2017']].T
df_group_2017.reset_index(inplace=True)
df_group_2017.columns = df_group_2017.iloc[0]
df_group_2017.drop(index=0, inplace=True)

df_group_2018 = df_group[['년도', '2018']].T
df_group_2018.reset_index(inplace=True)
df_group_2018.columns = df_group_2018.iloc[0]
df_group_2018.drop(index=0, inplace=True)

df_group_2019 = df_group[['년도', '2019']].T
df_group_2019.reset_index(inplace=True)
df_group_2019.columns = df_group_2019.iloc[0]
df_group_2019.drop(index=0, inplace=True)

df_group_2020 = df_group[['년도', '2020']].T
df_group_2020.reset_index(inplace=True)
df_group_2020.columns = df_group_2020.iloc[0]
df_group_2020.drop(index=0, inplace=True)

df_group_2021 = df_group[['년도', '2021']].T
df_group_2021.reset_index(inplace=True)
df_group_2021.columns = df_group_2021.iloc[0]
df_group_2021.drop(index=0, inplace=True)

In [10]:
# 분리한 데이터 병합
df_group = pd.concat([df_group_2016, df_group_2017, df_group_2018, df_group_2019, df_group_2020, df_group_2021], ignore_index=True)
df_group.head()

,년도,대상,인원/비용,서울교통공사,서울메트로,서울특별시 도시철도공사,서울메트로 9호선(주),서울교통공사9호선운영부문,부산교통공사,대구도시철도공사,인천교통공사,광주광역시 도시철도공사,대전교통공사,부산-김해 경전철(주),의정부 경량전철(주),용인 경량전철(주),우이 신설경전철(주),김포골드라인(주)
0,2016,노인,무임승차 (천명),0,121979,81162,9337,987,72059,33297,9498,4830,6823,0,3244,1796,0,0
1,2016,노인,무임비용 (백만원),0,165984,109756,11671,1234,91450,36654,11873,6206,8880,0,4380,2604,0,0
2,2016,장애인,무임승차 (천명),0,27736,20278,2534,226,14535,7034,3137,1031,1736,974,988,524,0,0
3,2016,장애인,무임비용 (백만원),0,37741,27436,3167,283,18446,7743,3921,1323,2307,1306,1333,760,0,0
4,2016,국가유공자,무임승차 (천명),0,2023,1473,166,18,963,394,141,72,114,77,41,18,0,0

In [11]:
# 타입 확인
df_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   년도             48 non-null     object
 1   대상             48 non-null     object
 2   인원/비용          48 non-null     object
 3   서울교통공사         48 non-null     object
 4   서울메트로          48 non-null     object
 5   서울특별시 도시철도공사   48 non-null     object
 6   서울메트로 9호선(주)   48 non-null     object
 7   서울교통공사9호선운영부문  48 non-null     object
 8   부산교통공사         48 non-null     object
 9   대구도시철도공사       48 non-null     object
 10  인천교통공사         48 non-null     object
 11  광주광역시 도시철도공사   48 non-null     object
 12  대전교통공사         48 non-null     object
 13  부산-김해 경전철(주)   48 non-null     object
 14  의정부 경량전철(주)    48 non-null     object
 15  용인 경량전철(주)     48 non-null     object
 16  우이 신설경전철(주)    48 non-null     object
 17  김포골드라인(주)      48 non-null     object
dtypes: object(18)
memory usage: 6.9+ KB

In [12]:
# 자료값을 정수형으로 변환
for i in df_group.columns[3:]:
    df_group[i] = df_group[i].astype('int')
df_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   년도             48 non-null     object
 1   대상             48 non-null     object
 2   인원/비용          48 non-null     object
 3   서울교통공사         48 non-null     int32
 4   서울메트로          48 non-null     int32
 5   서울특별시 도시철도공사   48 non-null     int32
 6   서울메트로 9호선(주)   48 non-null     int32
 7   서울교통공사9호선운영부문  48 non-null     int32
 8   부산교통공사         48 non-null     int32
 9   대구도시철도공사       48 non-null     int32
 10  인천교통공사         48 non-null     int32
 11  광주광역시 도시철도공사   48 non-null     int32
 12  대전교통공사         48 non-null     int32
 13  부산-김해 경전철(주)   48 non-null     int32
 14  의정부 경량전철(주)    48 non-null     int32
 15  용인 경량전철(주)     48 non-null     int32
 16  우이 신설경전철(주)    48 non-null     int32
 17  김포골드라인(주)      48 non-null     int32
dtypes: int32(15), object(3)
memory usage: 4.1+ KB

In [13]:
# 합계 column 생성
df_group['합계'] = df_group[df_group.columns[3: ]].sum(axis=1)
df_group.head(2)

,년도,대상,인원/비용,서울교통공사,서울메트로,서울특별시 도시철도공사,서울메트로 9호선(주),서울교통공사9호선운영부문,부산교통공사,대구도시철도공사,인천교통공사,광주광역시 도시철도공사,대전교통공사,부산-김해 경전철(주),의정부 경량전철(주),용인 경량전철(주),우이 신설경전철(주),김포골드라인(주),합계
0,2016,노인,무임승차 (천명),0,121979,81162,9337,987,72059,33297,9498,4830,6823,0,3244,1796,0,0,345012
1,2016,노인,무임비용 (백만원),0,165984,109756,11671,1234,91450,36654,11873,6206,8880,0,4380,2604,0,0,450692

In [14]:
# 2016~2021 무임승차 인구수(단위: 천명)
df_group_pop = df_group[df_group.index % 2 == 0].drop(columns='인원/비용').reset_index(drop=True)
df_group_pop.head(3)

,년도,대상,서울교통공사,서울메트로,서울특별시 도시철도공사,서울메트로 9호선(주),서울교통공사9호선운영부문,부산교통공사,대구도시철도공사,인천교통공사,광주광역시 도시철도공사,대전교통공사,부산-김해 경전철(주),의정부 경량전철(주),용인 경량전철(주),우이 신설경전철(주),김포골드라인(주),합계
0,2016,노인,0,121979,81162,9337,987,72059,33297,9498,4830,6823,0,3244,1796,0,0,345012
1,2016,장애인,0,27736,20278,2534,226,14535,7034,3137,1031,1736,974,988,524,0,0,80733
2,2016,국가유공자,0,2023,1473,166,18,963,394,141,72,114,77,41,18,0,0,5500

In [15]:
# 2016~2021 무임비용(단위: 백만원)
df_group_fare = df_group[df_group.index % 2 == 1].drop(columns='인원/비용').reset_index(drop=True)
df_group_fare.head(3)

,년도,대상,서울교통공사,서울메트로,서울특별시 도시철도공사,서울메트로 9호선(주),서울교통공사9호선운영부문,부산교통공사,대구도시철도공사,인천교통공사,광주광역시 도시철도공사,대전교통공사,부산-김해 경전철(주),의정부 경량전철(주),용인 경량전철(주),우이 신설경전철(주),김포골드라인(주),합계
0,2016,노인,0,165984,109756,11671,1234,91450,36654,11873,6206,8880,0,4380,2604,0,0,450692
1,2016,장애인,0,37741,27436,3167,283,18446,7743,3921,1323,2307,1306,1333,760,0,0,105766
2,2016,국가유공자,0,2753,1992,207,23,1222,434,176,93,148,104,55,26,0,0,7233

In [16]:
df_group_pop.to_csv('../data/수정 후 데이터/무임승차 인구(2016~2021).csv', index=False)
df_group_fare.to_csv('../data/수정 후 데이터/무임비용(2016~2021).csv', index=False)