In [1]:
import pandas as pd

## 1. 무임승차 대상별 현황 2016~2021 전처리

In [2]:
# 데이터 로드
df_group = pd.read_csv('../data/수정 전 데이터/무임승차_대상별_현황_2016-2021.csv', encoding='cp949')

In [3]:
df_group.head()

,운영기관별(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,...,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9
0,운영기관별(1),계,계,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,...,계,계,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,기타
1,운영기관별(1),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),...,무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원)
2,합계,431540,564065,345012,450692,80733,105766,5500,7233,296,...,380197,510236,315412,423193,60463,81260,3855,5168,467,615
3,서울교통공사,-,-,-,-,-,-,-,-,-,...,205748,278438,170771,231108,32868,44477,2109,2853,-,-
4,서울메트로,151738,206478,121979,165984,27736,37741,2023,2753,-,...,-,-,-,-,-,-,-,-,-,-

In [4]:
# 기존의 합계 column 삭제
df_group.drop(index=2, inplace=True)

In [5]:
# 결측치 처리('-' -> 0으로 변경)
df_group.replace('-', 0, inplace=True)

In [6]:
for i in df_group.columns:
    # 불필요한 columns 삭제
    if (df_group[i][0] == '계'):
        df_group.drop(columns=i, inplace=True)
    else:
        # column 이름 변경
        if i == '운영기관별(1)':
            df_group.rename(columns={i: '년도'}, inplace=True)
        df_group.rename(columns={i: i.split('.')[0]}, inplace=True)

In [7]:
df_group.iloc[0, 0] = '대상'
df_group.iloc[1, 0] = '인원/비용'

In [8]:
df_group.head()

,년도,2016,2016,2016,2016,2016,2016,2016,2016,2017,...,2020,2020,2021,2021,2021,2021,2021,2021,2021,2021
0,대상,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,기타,노인,...,기타,기타,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,기타
1,인원/비용,무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),...,무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원)
3,서울교통공사,0,0,0,0,0,0,0,0,208466,...,0,0,170771,231108,32868,44477,2109,2853,0,0
4,서울메트로,121979,165984,27736,37741,2023,2753,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,서울특별시 도시철도공사,81162,109756,20278,27436,1473,1992,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# 년도별 데이터로 분리
df_group_2016 = df_group[['년도', '2016']].T
df_group_2016.reset_index(inplace=True)
df_group_2016.columns = df_group_2016.iloc[0]
df_group_2016.drop(index=0, inplace=True)

df_group_2017 = df_group[['년도', '2017']].T
df_group_2017.reset_index(inplace=True)
df_group_2017.columns = df_group_2017.iloc[0]
df_group_2017.drop(index=0, inplace=True)

df_group_2018 = df_group[['년도', '2018']].T
df_group_2018.reset_index(inplace=True)
df_group_2018.columns = df_group_2018.iloc[0]
df_group_2018.drop(index=0, inplace=True)

df_group_2019 = df_group[['년도', '2019']].T
df_group_2019.reset_index(inplace=True)
df_group_2019.columns = df_group_2019.iloc[0]
df_group_2019.drop(index=0, inplace=True)

df_group_2020 = df_group[['년도', '2020']].T
df_group_2020.reset_index(inplace=True)
df_group_2020.columns = df_group_2020.iloc[0]
df_group_2020.drop(index=0, inplace=True)

df_group_2021 = df_group[['년도', '2021']].T
df_group_2021.reset_index(inplace=True)
df_group_2021.columns = df_group_2021.iloc[0]
df_group_2021.drop(index=0, inplace=True)

In [10]:
# 분리한 데이터 병합
df_group = pd.concat([df_group_2016, df_group_2017, df_group_2018, df_group_2019, df_group_2020, df_group_2021], ignore_index=True)
df_group.head()

,년도,대상,인원/비용,서울교통공사,서울메트로,서울특별시 도시철도공사,서울메트로 9호선(주),서울교통공사9호선운영부문,부산교통공사,대구도시철도공사,인천교통공사,광주광역시 도시철도공사,대전교통공사,부산-김해 경전철(주),의정부 경량전철(주),용인 경량전철(주),우이 신설경전철(주),김포골드라인(주)
0,2016,노인,무임승차 (천명),0,121979,81162,9337,987,72059,33297,9498,4830,6823,0,3244,1796,0,0
1,2016,노인,무임비용 (백만원),0,165984,109756,11671,1234,91450,36654,11873,6206,8880,0,4380,2604,0,0
2,2016,장애인,무임승차 (천명),0,27736,20278,2534,226,14535,7034,3137,1031,1736,974,988,524,0,0
3,2016,장애인,무임비용 (백만원),0,37741,27436,3167,283,18446,7743,3921,1323,2307,1306,1333,760,0,0
4,2016,국가유공자,무임승차 (천명),0,2023,1473,166,18,963,394,141,72,114,77,41,18,0,0

In [11]:
# 타입 확인
df_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   년도             48 non-null     object
 1   대상             48 non-null     object
 2   인원/비용          48 non-null     object
 3   서울교통공사         48 non-null     object
 4   서울메트로          48 non-null     object
 5   서울특별시 도시철도공사   48 non-null     object
 6   서울메트로 9호선(주)   48 non-null     object
 7   서울교통공사9호선운영부문  48 non-null     object
 8   부산교통공사         48 non-null     object
 9   대구도시철도공사       48 non-null     object
 10  인천교통공사         48 non-null     object
 11  광주광역시 도시철도공사   48 non-null     object
 12  대전교통공사         48 non-null     object
 13  부산-김해 경전철(주)   48 non-null     object
 14  의정부 경량전철(주)    48 non-null     object
 15  용인 경량전철(주)     48 non-null     object
 16  우이 신설경전철(주)    48 non-null     object
 17  김포골드라인(주)      48 non-null     object
dtypes: object(18)
memory usage: 6.9+ KB

In [12]:
# 자료값을 정수형으로 변환
for i in df_group.columns[3:]:
    df_group[i] = df_group[i].astype('int')
df_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   년도             48 non-null     object
 1   대상             48 non-null     object
 2   인원/비용          48 non-null     object
 3   서울교통공사         48 non-null     int32
 4   서울메트로          48 non-null     int32
 5   서울특별시 도시철도공사   48 non-null     int32
 6   서울메트로 9호선(주)   48 non-null     int32
 7   서울교통공사9호선운영부문  48 non-null     int32
 8   부산교통공사         48 non-null     int32
 9   대구도시철도공사       48 non-null     int32
 10  인천교통공사         48 non-null     int32
 11  광주광역시 도시철도공사   48 non-null     int32
 12  대전교통공사         48 non-null     int32
 13  부산-김해 경전철(주)   48 non-null     int32
 14  의정부 경량전철(주)    48 non-null     int32
 15  용인 경량전철(주)     48 non-null     int32
 16  우이 신설경전철(주)    48 non-null     int32
 17  김포골드라인(주)      48 non-null     int32
dtypes: int32(15), object(3)
memory usage: 4.1+ KB

In [13]:
# 합계 column 생성
df_group['합계'] = df_group[df_group.columns[3: ]].sum(axis=1)
df_group.head(2)

,년도,대상,인원/비용,서울교통공사,서울메트로,서울특별시 도시철도공사,서울메트로 9호선(주),서울교통공사9호선운영부문,부산교통공사,대구도시철도공사,인천교통공사,광주광역시 도시철도공사,대전교통공사,부산-김해 경전철(주),의정부 경량전철(주),용인 경량전철(주),우이 신설경전철(주),김포골드라인(주),합계
0,2016,노인,무임승차 (천명),0,121979,81162,9337,987,72059,33297,9498,4830,6823,0,3244,1796,0,0,345012
1,2016,노인,무임비용 (백만원),0,165984,109756,11671,1234,91450,36654,11873,6206,8880,0,4380,2604,0,0,450692

In [14]:
# 2016~2021 무임승차 인구수(단위: 천명)
df_group_pop = df_group[df_group.index % 2 == 0].drop(columns='인원/비용').reset_index(drop=True)
df_group_pop.head(3)

,년도,대상,서울교통공사,서울메트로,서울특별시 도시철도공사,서울메트로 9호선(주),서울교통공사9호선운영부문,부산교통공사,대구도시철도공사,인천교통공사,광주광역시 도시철도공사,대전교통공사,부산-김해 경전철(주),의정부 경량전철(주),용인 경량전철(주),우이 신설경전철(주),김포골드라인(주),합계
0,2016,노인,0,121979,81162,9337,987,72059,33297,9498,4830,6823,0,3244,1796,0,0,345012
1,2016,장애인,0,27736,20278,2534,226,14535,7034,3137,1031,1736,974,988,524,0,0,80733
2,2016,국가유공자,0,2023,1473,166,18,963,394,141,72,114,77,41,18,0,0,5500

In [15]:
# 2016~2021 무임비용(단위: 백만원)
df_group_fare = df_group[df_group.index % 2 == 1].drop(columns='인원/비용').reset_index(drop=True)
df_group_fare.head(3)

,년도,대상,서울교통공사,서울메트로,서울특별시 도시철도공사,서울메트로 9호선(주),서울교통공사9호선운영부문,부산교통공사,대구도시철도공사,인천교통공사,광주광역시 도시철도공사,대전교통공사,부산-김해 경전철(주),의정부 경량전철(주),용인 경량전철(주),우이 신설경전철(주),김포골드라인(주),합계
0,2016,노인,0,165984,109756,11671,1234,91450,36654,11873,6206,8880,0,4380,2604,0,0,450692
1,2016,장애인,0,37741,27436,3167,283,18446,7743,3921,1323,2307,1306,1333,760,0,0,105766
2,2016,국가유공자,0,2753,1992,207,23,1222,434,176,93,148,104,55,26,0,0,7233

In [16]:
df_group_pop.to_csv('../data/수정 후 데이터/무임승차 인구(2016~2021).csv', index=False)
df_group_fare.to_csv('../data/수정 후 데이터/무임비용(2016~2021).csv', index=False)

## 2. 유무임 승하차 인원 정보 전처리

In [17]:
df_fares = pd.read_csv('../data/수정 전 데이터/서울시 지하철 호선별 역별 유_무임 승하차 인원 정보.csv', encoding='cp949')
df_fares.head()

      사용월  호선명  지하철역   유임승차인원  무임승차인원   유임하차인원  무임하차인원      작업일자
0  202212  1호선   서울역  1350791  196523  1316828  187268  20230103
1  202212  1호선    시청   672846   96623   665583   93198  20230103
2  202212  1호선    종각   975925  150911   949944  141309  20230103
3  202212  1호선  종로3가   490967  309071   450017  287432  20230103
4  202212  1호선  종로5가   476315  247835   470710  238588  20230103

In [18]:
df_fares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57394 entries, 0 to 57393
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용월     57394 non-null  int64
 1   호선명     57394 non-null  object
 2   지하철역    57394 non-null  object
 3   유임승차인원  57394 non-null  int64
 4   무임승차인원  57394 non-null  int64
 5   유임하차인원  57394 non-null  int64
 6   무임하차인원  57394 non-null  int64
 7   작업일자    57394 non-null  int64
dtypes: int64(6), object(2)
memory usage: 3.5+ MB

In [19]:
# 사용월의 타입변경(int -> str)
df_fares['사용월'] = df_fares['사용월'].astype('str')

# 17~22년을 제외한 데이터 삭제
df_fares.drop(df_fares[(df_fares['사용월'] < '201701') | (df_fares['사용월'] >= '202201')].index, axis=0, inplace=True)

In [20]:
# 필요없는 column 삭제
df_fares.drop(['작업일자'], axis=1, inplace=True)

In [21]:
# 중복데이터 확인
df_fares[df_fares.duplicated(df_fares.columns)]

          사용월  호선명   지하철역  유임승차인원  무임승차인원  유임하차인원  무임하차인원
25762  201907  경강선     부발   50393    7281   47675    6980
25763  201907  경강선   경기광주  191098   28644  177103   29313
25764  201907  경강선     판교  119237   13987  119981   11269
25766  201907  경강선  신둔도예촌   31196    6564   29260    6369
25767  201907  경강선  세종대왕릉    6399    3355    6422    3395
...       ...  ...    ...     ...     ...     ...     ...
36310  201803  중앙선     아신   17851    5963   18001    5895
36311  201803  중앙선     덕소  152670   52622  152150   52489
36312  201803  중앙선     망우  190694   72413  186142   73853
36313  201803  중앙선     구리  347445   87692  365874   89084
36314  201803  중앙선     도심   64538   21136   49716   20357

[805 rows x 7 columns]

In [22]:
# 중복제거
df_fares.drop_duplicates(df_fares.columns, keep = 'first', inplace=True)

In [23]:
df_fares.reset_index(drop=True, inplace=True)
df_fares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35611 entries, 0 to 35610
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용월     35611 non-null  object
 1   호선명     35611 non-null  object
 2   지하철역    35611 non-null  object
 3   유임승차인원  35611 non-null  int64
 4   무임승차인원  35611 non-null  int64
 5   유임하차인원  35611 non-null  int64
 6   무임하차인원  35611 non-null  int64
dtypes: int64(4), object(3)
memory usage: 1.9+ MB

In [24]:
df_fares.호선명.unique()

array(['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선',
       '9호선2~3단계', '경강선', '경부선', '경원선', '경의선', '경인선', '경춘선', '공항철도 1호선',
       '과천선', '분당선', '수인선', '안산선', '우이신설선', '일산선', '장항선', '중앙선', '9호선2단계'],
      dtype=object)

### 1호선 전처리

In [25]:
# 1호선 역 이름 확인
df_fares[(df_fares['호선명'] == '1호선') | (df_fares['호선명'] == '경원선') | (df_fares['호선명'] == '경부선') | (df_fares['호선명'] == '경인선') | (df_fares['호선명'] == '장항선')].지하철역.unique()

array(['서울역', '제기동', '종각', '종로3가', '종로5가', '청량리(서울시립대입구)', '신설동', '동대문',
       '시청', '동묘앞', '독산', '금천구청', '신길', '송탄', '화서', '진위', '용산', '서동탄',
       '세류', '병점', '광명', '관악', '대방', '평택', '명학', '당정', '오산대', '평택지제',
       '오산', '가산디지털단지', '천안', '안양', '남영', '서정리', '금정', '석수', '수원', '의왕',
       '세마', '군포', '직산', '성균관대', '노량진', '두정', '성환', '영등포', '신도림', '구로',
       '보산', '도봉산', '양주', '가능', '방학', '한남', '소요산', '서빙고', '이촌(국립중앙박물관)',
       '덕정', '망월사', '창동', '석계', '광운대', '동두천중앙', '녹천', '동두천', '녹양', '덕계',
       '옥수', '응봉', '의정부', '외대앞', '왕십리(성동구청)', '신이문', '회룡', '월계', '지행',
       '도봉', '제물포', '도화', '동암', '중동', '개봉', '소사', '인천', '오류동', '간석', '부개',
       '도원', '동인천', '온수(성공회대입구)', '부천', '부평', '백운', '주안', '역곡', '송내',
       '구일', '아산', '온양온천', '탕정', '신창(순천향대)', '배방', '쌍용(나사렛대)', '봉명', '지제'],
      dtype=object)

In [26]:
# 1호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '1호선') | (df_fares['호선명'] == '경원선') | (df_fares['호선명'] == '경부선') | (df_fares['호선명'] == '경인선') | (df_fares['호선명'] == '장항선')].지하철역.nunique()

105

In [27]:
# 다르게 표기된 역 이름 수정(지제 -> 평택지제)
df_fares.replace('지제', '평택지제', inplace=True)

In [28]:
# 잘못된 호선 수정
df_fares.loc[(df_fares['지하철역'] == '청량리(서울시립대입구)') & (df_fares['호선명'] == '경원선'), '호선명'] = '중앙선'
df_fares.loc[(df_fares['지하철역'] == '이촌(국립중앙박물관)') & (df_fares['호선명'] == '경원선'), '호선명'] = '중앙선'
df_fares.loc[(df_fares['지하철역'] == '왕십리(성동구청)') & (df_fares['호선명'] == '경원선'), '호선명'] = '중앙선'
df_fares.loc[(df_fares['지하철역'] == '옥수') & (df_fares['호선명'] == '경원선'), '호선명'] = '중앙선'
df_fares.loc[(df_fares['지하철역'] == '한남') & (df_fares['호선명'] == '경원선'), '호선명'] = '중앙선'
df_fares.loc[(df_fares['지하철역'] == '응봉') & (df_fares['호선명'] == '경원선'), '호선명'] = '중앙선'
df_fares.loc[(df_fares['지하철역'] == '서빙고') & (df_fares['호선명'] == '경원선'), '호선명'] = '중앙선'
df_fares.loc[(df_fares['지하철역'] == '회기') & (df_fares['호선명'] == '중앙선'), '호선명'] = '1호선'

In [29]:
# 중복일이 있는지 확인
print(df_fares[(df_fares['지하철역'].str.contains('지제'))].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('청량리')) & (df_fares['호선명'] == '중앙선')].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('이촌')) & (df_fares['호선명'] == '중앙선')].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('왕십리')) & (df_fares['호선명'] == '중앙선')].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('옥수')) & (df_fares['호선명'] == '중앙선')].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('한남')) & (df_fares['호선명'] == '중앙선')].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('응봉')) & (df_fares['호선명'] == '중앙선')].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('서빙고')) & (df_fares['호선명'] == '중앙선')].사용월.count())

60
60
60
60
60
60
60
60

In [30]:
df_fares[(df_fares['호선명'] == '1호선') | (df_fares['호선명'] == '경원선') | (df_fares['호선명'] == '경부선') | (df_fares['호선명'] == '경인선') | (df_fares['호선명'] == '장항선')].지하철역.nunique()

99

In [31]:
# 회기역이 중앙선으로 빠짐
df_fares.loc[(df_fares['지하철역'].str.contains('회기'))].호선명.unique()

array(['1호선'], dtype=object)

In [32]:
# '경원선', '경부선', '경인선', '장항선' -> 1호선
df_fares.replace(['경원선', '경부선', '경인선', '장항선'], '1호선', inplace=True)

### 2호선 전처리

In [33]:
# 2호선 역 이름 확인
df_fares[(df_fares['호선명'] == '2호선')].지하철역.unique()

array(['한양대', '영등포구청', '양천구청', '뚝섬', '당산', '아현', '대림(구로구청)', '종합운동장',
       '잠실새내', '서초', '방배', '잠실나루', '왕십리(성동구청)', '삼성(무역센터)', '교대(법원.검찰청)',
       '이대', '을지로4가', '용답', '충정로(경기대입구)', '동대문역사문화공원(DDP)', '성수', '신정네거리',
       '신설동', '문래', '낙성대(강감찬)', '을지로입구', '강변(동서울터미널)', '홍대입구', '강남',
       '도림천', '구의(광진구청)', '을지로3가', '시청', '신촌', '신림', '신대방', '잠실(송파구청)',
       '봉천', '서울대입구(관악구청)', '역삼', '건대입구', '합정', '선릉', '용두(동대문구청)', '신당',
       '구로디지털단지', '신도림', '사당', '상왕십리', '신답', '낙성대', '동대문역사문화공원'],
      dtype=object)

In [34]:
# 2호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '2호선')].지하철역.nunique()

52

In [35]:
# 다르게 표기된 역 이름 수정
df_fares.replace('낙성대(강감찬)', '낙성대', inplace=True)
df_fares.replace('동대문역사문화공원(DDP)', '동대문역사문화공원', inplace=True)

In [36]:
# 중복일이 있는지 확인
print(df_fares[(df_fares['지하철역'].str.contains('낙성대')) & (df_fares['호선명'] == '2호선')].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('동대문역사')) & (df_fares['호선명'] == '2호선')].사용월.count())

60
60

In [37]:
# 수정된 역의 개수 확인
df_fares[(df_fares['호선명'] == '2호선')].지하철역.nunique()

50

### 3호선 전처리

In [38]:
# 3호선 역 이름 확인
df_fares[(df_fares['호선명'] == '3호선') | (df_fares['호선명'] == '일산선')].지하철역.unique()

array(['대청', '충무로', '오금', '학여울', '가락시장', '대치', '동대입구', '경찰병원', '잠원', '도곡',
       '매봉', '무악재', '일원', '을지로3가', '약수', '종로3가', '안국', '구파발', '옥수', '압구정',
       '고속터미널', '금호', '양재(서초구청)', '불광', '수서', '경복궁(정부서울청사)', '녹번', '연신내',
       '신사', '홍제', '교대(법원.검찰청)', '남부터미널(예술의전당)', '독립문', '지축', '삼송', '정발산',
       '주엽', '화정', '원당', '대화', '백석', '마두', '원흥', '대곡'], dtype=object)

In [39]:
# 3호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '3호선') | (df_fares['호선명'] == '일산선')].지하철역.nunique()

44

In [40]:
# '일산선' -> 3호선
df_fares.replace('일산선', '3호선', inplace=True)

### 4호선 전처리

In [41]:
# 4호선 역 이름 확인
df_fares[(df_fares['호선명'] == '4호선') | (df_fares['호선명'] == '안산선') | (df_fares['호선명'] == '과천선')].지하철역.unique()

array(['남태령', '동작(현충원)', '삼각지', '명동', '신용산', '동대문', '창동', '노원',
       '이촌(국립중앙박물관)', '총신대입구(이수)', '사당', '혜화', '길음', '쌍문', '숙대입구(갈월)',
       '미아(서울사이버대학)', '수유(강북구청)', '당고개', '한성대입구(삼선교)', '서울역', '충무로',
       '회현(남대문시장)', '동대문역사문화공원', '미아사거리', '성신여대입구(돈암)', '상계', '선바위', '과천',
       '대공원', '평촌', '범계', '정부과천청사', '인덕원', '경마공원', '한대앞', '반월', '산본',
       '고잔', '오이도', '신길온천', '안산', '정왕', '중앙', '상록수', '대야미', '수리산', '초지'],
      dtype=object)

In [42]:
# 4호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '4호선') | (df_fares['호선명'] == '안산선') | (df_fares['호선명'] == '과천선')].지하철역.nunique()

47

In [43]:
# 다르게 표기된 역 이름 수정
df_fares.replace('총신대입구(이수)', '이수', inplace=True)
df_fares.replace('미아(서울사이버대학)', '미아', inplace=True)
df_fares.replace('성신여대입구(돈암)', '성신여대입구', inplace=True)

In [44]:
# 중복일이 있는지 확인
print(df_fares[(df_fares['지하철역'].str.contains('미아')) & (df_fares['호선명'] == '4호선')].사용월.count()) # 미아사거리도 포함
print(df_fares[(df_fares['지하철역'].str.contains('성신여대')) & (df_fares['호선명'] == '4호선')].사용월.count())

120
60

In [45]:
# 수정된 역의 개수 확인
df_fares[(df_fares['호선명'] == '4호선') | (df_fares['호선명'] == '안산선') | (df_fares['호선명'] == '과천선')].지하철역.nunique()

47

In [46]:
# 금정역이 1호선으로 빠짐
df_fares.loc[(df_fares['지하철역'].str.contains('금정'))].호선명.unique()

array(['1호선'], dtype=object)

In [47]:
# '안산선','과천선' -> 4호선
df_fares.replace(['안산선','과천선'], '4호선', inplace=True)

### 5호선 전처리

In [48]:
# 5호선 역 이름 확인
df_fares[(df_fares['호선명'] == '5호선') | (df_fares['호선명'] == '하남선')].지하철역.unique()

array(['신길', '강동', '신금호', '길동', '강일', '아차산(어린이대공원후문)', '동대문역사문화공원', '마포',
       '굽은다리(강동구민회관앞)', '답십리', '올림픽공원(한국체대)', '을지로4가', '발산', '청구', '방이',
       '명일', '장한평', '신정(은행정)', '왕십리(성동구청)', '행당', '공덕', '우장산', '서대문',
       '개화산', '충정로(경기대입구)', '광나루(장신대)', '마천', '오목교(목동운동장앞)', '애오개', '마장',
       '마곡', '고덕', '김포공항', '미사', '영등포구청', '천호(풍납토성)', '양평', '여의나루',
       '영등포시장', '여의도', '하남검단산', '목동', '오금', '종로3가', '송정', '방화',
       '하남시청(덕풍?신장)', '군자(능동)', '까치산', '하남풍산', '개롱', '광화문(세종문화회관)', '상일동',
       '화곡', '둔촌동', '거여'], dtype=object)

In [49]:
# 5호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '5호선') | (df_fares['호선명'] == '하남선')].지하철역.nunique()

56

In [50]:
# 이상하게 표기된 역 이름 수정
df_fares.replace('하남시청(덕풍?신장)', '하남시청', inplace=True)

In [51]:
# '하남선' -> 5호선
df_fares.replace('하남선', '5호선', inplace=True)

### 6호선 전처리

In [52]:
# 6호선 역 이름 확인
df_fares[(df_fares['호선명'] == '6호선')].지하철역.unique()

array(['녹사평(용산구청)', '신내', '보문', '청구', '태릉입구', '고려대(종암)', '응암', '디지털미디어시티',
       '안암(고대병원앞)', '돌곶이', '동묘앞', '대흥(서강대앞)', '새절(신사)', '독바위', '석계',
       '버티고개', '상월곡(한국과학기술연구원)', '역촌', '약수', '망원', '한강진', '상수', '구산',
       '월곡(동덕여대)', '신당', '이태원', '공덕', '불광', '증산(명지대앞)', '월드컵경기장(성산)',
       '삼각지', '합정', '봉화산(서울의료원)', '화랑대(서울여대입구)', '광흥창(서강)', '마포구청',
       '효창공원앞', '연신내', '창신'], dtype=object)

In [53]:
# 6호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '6호선')].지하철역.nunique()

39

### 7호선 전처리

In [54]:
# 7호선 역 이름 확인
df_fares[(df_fares['호선명'] == '7호선')].지하철역.unique()

array(['중계', '면목', '신대방삼거리', '광명사거리', '학동', '부천시청', '상도', '부평구청',
       '대림(구로구청)', '장승배기', '내방', '마들', '뚝섬유원지', '춘의', '숭실대입구(살피재)',
       '어린이대공원(세종대)', '보라매', '까치울', '반포', '청담', '군자(능동)', '가산디지털단지',
       '남구로', '굴포천', '중화', '상동', '공릉(서울과학기술대)', '신풍', '고속터미널', '철산', '천왕',
       '용마산(용마폭포공원)', '먹골', '태릉입구', '삼산체육관', '신중동', '온수(성공회대입구)', '장암',
       '부천종합운동장', '남성', '상봉(시외버스터미널)', '수락산', '논현', '노원', '사가정', '하계',
       '중곡', '건대입구', '도봉산', '이수', '강남구청', '용마산'], dtype=object)

In [55]:
# 7호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '7호선')].지하철역.nunique()

52

In [56]:
# 다르게 표기된 역 이름 수정(용마산(용마폭포공원) -> 용마산)
df_fares.replace('용마산(용마폭포공원)', '용마산', inplace=True)

In [57]:
# 수정된 역의 개수 확인
df_fares[(df_fares['호선명'] == '7호선')].지하철역.nunique()

51

### 8호선 전처리

In [58]:
# 8호선 역 이름 확인
df_fares[(df_fares['호선명'] == '8호선')].지하철역.unique()

array(['가락시장', '단대오거리', '남한산성입구(성남법원.검찰청)', '송파', '남위례', '장지', '암사', '수진',
       '천호(풍납토성)', '문정', '신흥', '강동구청', '잠실(송파구청)', '산성', '복정', '모란',
       '몽촌토성(평화의문)', '석촌'], dtype=object)

In [59]:
# 8호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '8호선')].지하철역.nunique()

18

### 9호선 전처리

In [60]:
# 9호선 역 이름 확인
df_fares[(df_fares['호선명'] == '9호선') | (df_fares['호선명'] == '9호선2~3단계') | (df_fares['호선명'] == '9호선2단계')].지하철역.unique()

array(['개화', '여의도', '가양', '신논현', '고속터미널', '공항시장', '신반포', '신방화', '증미',
       '김포공항', '사평', '노량진', '동작(현충원)', '염창', '구반포', '선유도', '신목동', '샛강',
       '당산', '마곡나루(서울식물원)', '등촌', '국회의사당', '양천향교', '노들', '흑석(중앙대입구)',
       '삼전', '종합운동장', '석촌', '석촌고분', '삼성중앙', '둔촌오륜', '중앙보훈병원', '봉은사',
       '선정릉', '한성백제', '올림픽공원(한국체대)', '송파나루', '언주', '마곡나루'], dtype=object)

In [61]:
# 9호선 역의 개수 확인
df_fares[(df_fares['호선명'] == '9호선') | (df_fares['호선명'] == '9호선2~3단계') | (df_fares['호선명'] == '9호선2단계')].지하철역.nunique()

39

In [62]:
# 다르게 표기된 역 이름 수정
df_fares.replace('마곡나루(서울식물원)', '마곡나루', inplace=True)

In [63]:
# 중복일이 있는지 확인
print(df_fares[(df_fares['지하철역'].str.contains('마곡나루')) & (df_fares['호선명'].str.contains('9호선'))].사용월.count())
print(df_fares[(df_fares['지하철역'].str.contains('종합운동장')) & (df_fares['호선명'].str.contains('9호선'))].사용월.count())

60
60

In [64]:
# 수정된 역의 개수 확인
df_fares[(df_fares['호선명'] == '9호선') | (df_fares['호선명'] == '9호선2~3단계') | (df_fares['호선명'] == '9호선2단계')].지하철역.nunique()

38

In [65]:
df_fares.replace(['9호선2~3단계','9호선2단계'], '9호선', inplace=True)

In [66]:
df_fares.to_csv('유무임승하차인원1~9.csv', index=False)