In [1]:
import pandas as pd

In [2]:
# 데이터 로드
df_group = pd.read_csv('../data/수정 전 데이터/무임승차_대상별_현황_2016-2021.csv', encoding='cp949')

In [3]:
df_group.head()

,운영기관별(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,...,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9
0,운영기관별(1),계,계,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,...,계,계,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,기타
1,운영기관별(1),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),...,무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원)
2,합계,431540,564065,345012,450692,80733,105766,5500,7233,296,...,380197,510236,315412,423193,60463,81260,3855,5168,467,615
3,서울교통공사,-,-,-,-,-,-,-,-,-,...,205748,278438,170771,231108,32868,44477,2109,2853,-,-
4,서울메트로,151738,206478,121979,165984,27736,37741,2023,2753,-,...,-,-,-,-,-,-,-,-,-,-

In [ ]:
# 기존의 합계 column 삭제
df_group.drop(index=2, inplace=True)

In [ ]:
# 데이터 로드
df_fares = pd.read_csv('../data/수정 전 데이터/서울시 지하철 호선별 역별 유_무임 승하차 인원 정보.csv', encoding='cp949')