In [1]:
import pandas as pd

In [2]:
# 데이터 로드
df = pd.read_csv('../data/수정 전 데이터/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding='cp949')

## 1. 데이터 확인 및 전처리

In [3]:
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202301,1호선,동대문,717,11,9399,1791,7814,5063,11183,...,7667,529,2104,5,254,0,0,0,0,20230203
1,202301,1호선,동묘앞,176,5,2429,929,3063,4244,5788,...,3400,80,1320,3,330,0,0,0,0,20230203
2,202301,1호선,서울역,555,27,6560,7430,11059,41800,36434,...,12316,3388,2777,69,235,0,5,0,0,20230203
3,202301,1호선,시청,95,0,2103,3753,3123,19320,6859,...,3160,353,703,1,22,0,0,0,0,20230203
4,202301,1호선,신설동,273,6,7568,1962,8198,6829,18129,...,7998,319,1941,3,28,1,0,0,0,20230203

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56951 entries, 0 to 56950
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           56951 non-null  int64
 1   호선명           56951 non-null  object
 2   지하철역          56951 non-null  object
 3   04시-05시 승차인원  56951 non-null  int64
 4   04시-05시 하차인원  56951 non-null  int64
 5   05시-06시 승차인원  56951 non-null  int64
 6   05시-06시 하차인원  56951 non-null  int64
 7   06시-07시 승차인원  56951 non-null  int64
 8   06시-07시 하차인원  56951 non-null  int64
 9   07시-08시 승차인원  56951 non-null  int64
 10  07시-08시 하차인원  56951 non-null  int64
 11  08시-09시 승차인원  56951 non-null  int64
 12  08시-09시 하차인원  56951 non-null  int64
 13  09시-10시 승차인원  56951 non-null  int64
 14  09시-10시 하차인원  56951 non-null  int64
 15  10시-11시 승차인원  56951 non-null  int64
 16  10시-11시 하차인원  56951 non-null  int64
 17  11시-12시 승차인원  56951 non-null  int64
 18  11시-12시 하차인원  56951 non-null  int64
 19  12시-13시 승차인원  56951 non-null  int64
 20  12시-13시 하차인원  56951 non-null  int64
 21  13시-14시 승차인원  56951 non-null  int64
 22  13시-14시 하차인원  56951 non-null  int64
 23  14시-15시 승차인원  56951 non-null  int64
 24  14시-15시 하차인원  56951 non-null  int64
 25  15시-16시 승차인원  56951 non-null  int64
 26  15시-16시 하차인원  56951 non-null  int64
 27  16시-17시 승차인원  56951 non-null  int64
 28  16시-17시 하차인원  56951 non-null  int64
 29  17시-18시 승차인원  56951 non-null  int64
 30  17시-18시 하차인원  56951 non-null  int64
 31  18시-19시 승차인원  56951 non-null  int64
 32  18시-19시 하차인원  56951 non-null  int64
 33  19시-20시 승차인원  56951 non-null  int64
 34  19시-20시 하차인원  56951 non-null  int64
 35  20시-21시 승차인원  56951 non-null  int64
 36  20시-21시 하차인원  56951 non-null  int64
 37  21시-22시 승차인원  56951 non-null  int64
 38  21시-22시 하차인원  56951 non-null  int64
 39  22시-23시 승차인원  56951 non-null  int64
 40  22시-23시 하차인원  56951 non-null  int64
 41  23시-24시 승차인원  56951 non-null  int64
 42  23시-24시 하차인원  56951 non-null  int64
 43  00시-01시 승차인원  56951 non-null  int64
 44  00시-01시 하차인원  56951 non-null  int64
 45  01시-02시 승차인원  56951 non-null  int64
 46  01시-02시 하차인원  56951 non-null  int64
 47  02시-03시 승차인원  56951 non-null  int64
 48  02시-03시 하차인원  56951 non-null  int64
 49  03시-04시 승차인원  56951 non-null  int64
 50  03시-04시 하차인원  56951 non-null  int64
 51  작업일자          56951 non-null  int64
dtypes: int64(50), object(2)
memory usage: 22.6+ MB

In [5]:
# 사용월의 타입변경(int -> str)
df['사용월'] = df['사용월'].astype('str')

# 17~21년을 제외한 데이터 삭제
df.drop(df[(df['사용월'] < '201701') | (df['사용월'] >= '202201')].index, axis=0, inplace=True)

In [6]:
# 중복확인
df[df.duplicated(df.columns)]

Empty DataFrame
Columns: [사용월, 호선명, 지하철역, 04시-05시 승차인원, 04시-05시 하차인원, 05시-06시 승차인원, 05시-06시 하차인원, 06시-07시 승차인원, 06시-07시 하차인원, 07시-08시 승차인원, 07시-08시 하차인원, 08시-09시 승차인원, 08시-09시 하차인원, 09시-10시 승차인원, 09시-10시 하차인원, 10시-11시 승차인원, 10시-11시 하차인원, 11시-12시 승차인원, 11시-12시 하차인원, 12시-13시 승차인원, 12시-13시 하차인원, 13시-14시 승차인원, 13시-14시 하차인원, 14시-15시 승차인원, 14시-15시 하차인원, 15시-16시 승차인원, 15시-16시 하차인원, 16시-17시 승차인원, 16시-17시 하차인원, 17시-18시 승차인원, 17시-18시 하차인원, 18시-19시 승차인원, 18시-19시 하차인원, 19시-20시 승차인원, 19시-20시 하차인원, 20시-21시 승차인원, 20시-21시 하차인원, 21시-22시 승차인원, 21시-22시 하차인원, 22시-23시 승차인원, 22시-23시 하차인원, 23시-24시 승차인원, 23시-24시 하차인원, 00시-01시 승차인원, 00시-01시 하차인원, 01시-02시 승차인원, 01시-02시 하차인원, 02시-03시 승차인원, 02시-03시 하차인원, 03시-04시 승차인원, 03시-04시 하차인원, 작업일자]
Index: []

[0 rows x 52 columns]

In [7]:
# 1시~4시 사이의 데이터를 '1시 이후 승차', '1시 이후 하차'로 변경
df['1시이후 승차'] = df[['01시-02시 승차인원', '02시-03시 승차인원', '03시-04시 승차인원']].sum(axis=1)
df['1시이후 하차'] = df[['01시-02시 하차인원', '02시-03시 하차인원', '03시-04시 하차인원']].sum(axis=1)

In [8]:
# 필요없는 column 삭제
df.drop(['01시-02시 승차인원', '02시-03시 승차인원', '03시-04시 승차인원', 
         '01시-02시 하차인원', '02시-03시 하차인원', '03시-04시 하차인원', '작업일자'], axis=1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35625 entries, 7965 to 43589
Data columns (total 47 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           35625 non-null  object
 1   호선명           35625 non-null  object
 2   지하철역          35625 non-null  object
 3   04시-05시 승차인원  35625 non-null  int64
 4   04시-05시 하차인원  35625 non-null  int64
 5   05시-06시 승차인원  35625 non-null  int64
 6   05시-06시 하차인원  35625 non-null  int64
 7   06시-07시 승차인원  35625 non-null  int64
 8   06시-07시 하차인원  35625 non-null  int64
 9   07시-08시 승차인원  35625 non-null  int64
 10  07시-08시 하차인원  35625 non-null  int64
 11  08시-09시 승차인원  35625 non-null  int64
 12  08시-09시 하차인원  35625 non-null  int64
 13  09시-10시 승차인원  35625 non-null  int64
 14  09시-10시 하차인원  35625 non-null  int64
 15  10시-11시 승차인원  35625 non-null  int64
 16  10시-11시 하차인원  35625 non-null  int64
 17  11시-12시 승차인원  35625 non-null  int64
 18  11시-12시 하차인원  35625 non-null  int64
 19  12시-13시 승차인원  35625 non-null  int64
 20  12시-13시 하차인원  35625 non-null  int64
 21  13시-14시 승차인원  35625 non-null  int64
 22  13시-14시 하차인원  35625 non-null  int64
 23  14시-15시 승차인원  35625 non-null  int64
 24  14시-15시 하차인원  35625 non-null  int64
 25  15시-16시 승차인원  35625 non-null  int64
 26  15시-16시 하차인원  35625 non-null  int64
 27  16시-17시 승차인원  35625 non-null  int64
 28  16시-17시 하차인원  35625 non-null  int64
 29  17시-18시 승차인원  35625 non-null  int64
 30  17시-18시 하차인원  35625 non-null  int64
 31  18시-19시 승차인원  35625 non-null  int64
 32  18시-19시 하차인원  35625 non-null  int64
 33  19시-20시 승차인원  35625 non-null  int64
 34  19시-20시 하차인원  35625 non-null  int64
 35  20시-21시 승차인원  35625 non-null  int64
 36  20시-21시 하차인원  35625 non-null  int64
 37  21시-22시 승차인원  35625 non-null  int64
 38  21시-22시 하차인원  35625 non-null  int64
 39  22시-23시 승차인원  35625 non-null  int64
 40  22시-23시 하차인원  35625 non-null  int64
 41  23시-24시 승차인원  35625 non-null  int64
 42  23시-24시 하차인원  35625 non-null  int64
 43  00시-01시 승차인원  35625 non-null  int64
 44  00시-01시 하차인원  35625 non-null  int64
 45  1시이후 승차       35625 non-null  int64
 46  1시이후 하차       35625 non-null  int64
dtypes: int64(44), object(3)
memory usage: 13.0+ MB

In [10]:
df.호선명.unique()

array(['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선',
       '9호선2~3단계', '경강선', '경부선', '경원선', '경의선', '경인선', '경춘선', '공항철도 1호선',
       '과천선', '분당선', '수인선', '안산선', '우이신설선', '일산선', '장항선', '중앙선', '9호선2단계'],
      dtype=object)

### 1호선 전처리

In [11]:
# 1호선 역 이름 확인
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.unique()

array(['동대문', '동묘앞', '서울역', '시청', '신설동', '제기동', '종각', '종로3가', '종로5가',
       '청량리(서울시립대입구)', '가산디지털단지', '관악', '광명', '구로', '군포', '금정', '금천구청',
       '남영', '노량진', '당정', '대방', '독산', '두정', '명학', '병점', '서동탄', '서정리',
       '석수', '성균관대', '성환', '세류', '세마', '송탄', '수원', '신길', '신도림', '안양',
       '영등포', '오산', '오산대', '용산', '의왕', '직산', '진위', '천안', '평택', '평택지제',
       '화서', '가능', '광운대', '녹양', '녹천', '덕계', '덕정', '도봉', '도봉산', '동두천',
       '동두천중앙', '망월사', '방학', '보산', '서빙고', '석계', '소요산', '신이문', '양주', '옥수',
       '왕십리(성동구청)', '외대앞', '월계', '응봉', '의정부', '이촌(국립중앙박물관)', '지행', '창동',
       '한남', '회룡', '간석', '개봉', '구일', '도원', '도화', '동암', '동인천', '백운', '부개',
       '부천', '부평', '소사', '송내', '역곡', '오류동', '온수(성공회대입구)', '인천', '제물포',
       '주안', '중동', '배방', '봉명', '신창(순천향대)', '쌍용(나사렛대)', '아산', '온양온천', '탕정',
       '지제'], dtype=object)

In [12]:
# 1호선 역의 개수 확인
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.nunique()

105

In [13]:
# 다르게 표기된 역 이름 수정(지제 -> 평택지제)
df.replace('지제', '평택지제', inplace=True)

In [14]:
# 잘못된 호선 수정
df.loc[(df['지하철역'] == '청량리(서울시립대입구)') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '이촌(국립중앙박물관)') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '왕십리(성동구청)') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '옥수') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '한남') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '응봉') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '서빙고') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '회기') & (df['호선명'] == '중앙선'), '호선명'] = '1호선'

In [15]:
# 중복일이 있는지 확인
print(df[(df['지하철역'].str.contains('지제'))].사용월.count())
print(df[(df['지하철역'].str.contains('청량리')) & (df['호선명'] == '중앙선')].사용월.count())
print(df[(df['지하철역'].str.contains('이촌')) & (df['호선명'] == '중앙선')].사용월.count())
print(df[(df['지하철역'].str.contains('왕십리')) & (df['호선명'] == '중앙선')].사용월.count())
print(df[(df['지하철역'].str.contains('옥수')) & (df['호선명'] == '중앙선')].사용월.count())
print(df[(df['지하철역'].str.contains('한남')) & (df['호선명'] == '중앙선')].사용월.count())
print(df[(df['지하철역'].str.contains('응봉')) & (df['호선명'] == '중앙선')].사용월.count())
print(df[(df['지하철역'].str.contains('서빙고')) & (df['호선명'] == '중앙선')].사용월.count())
print(df[(df['지하철역'].str.contains('회기')) & (df['호선명'] == '1호선')].사용월.count())

60
60
60
60
60
60
60
60
60

In [16]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.nunique()

99

In [17]:
# 회기역이 중앙선으로 빠짐
df.loc[(df['지하철역'].str.contains('회기'))].호선명.unique()

array(['1호선'], dtype=object)

In [18]:
# '경원선', '경부선', '경인선', '장항선' -> 1호선
df.replace(['경원선', '경부선', '경인선', '장항선'], '1호선', inplace=True)

### 2호선 전처리

In [19]:
# 2호선 역 이름 확인
df[(df['호선명'] == '2호선')].지하철역.unique()

array(['강남', '강변(동서울터미널)', '건대입구', '교대(법원.검찰청)', '구로디지털단지', '구의(광진구청)',
       '낙성대(강감찬)', '당산', '대림(구로구청)', '도림천', '동대문역사문화공원(DDP)', '뚝섬', '문래',
       '방배', '봉천', '사당', '삼성(무역센터)', '상왕십리', '서울대입구(관악구청)', '서초', '선릉',
       '성수', '시청', '신답', '신당', '신대방', '신도림', '신림', '신설동', '신정네거리', '신촌',
       '아현', '양천구청', '역삼', '영등포구청', '왕십리(성동구청)', '용답', '용두(동대문구청)',
       '을지로3가', '을지로4가', '을지로입구', '이대', '잠실(송파구청)', '잠실나루', '잠실새내',
       '종합운동장', '충정로(경기대입구)', '한양대', '합정', '홍대입구', '낙성대', '동대문역사문화공원'],
      dtype=object)

In [20]:
# 2호선 역의 개수 확인
df[(df['호선명'] == '2호선')].지하철역.nunique()

52

In [21]:
# 다르게 표기된 역 이름 수정
df.replace('낙성대(강감찬)', '낙성대', inplace=True)
df.replace('동대문역사문화공원(DDP)', '동대문역사문화공원', inplace=True)

In [22]:
# 중복일이 있는지 확인
print(df[(df['지하철역'].str.contains('낙성대')) & (df['호선명'] == '2호선')].사용월.count())
print(df[(df['지하철역'].str.contains('동대문역사')) & (df['호선명'] == '2호선')].사용월.count())

60
60

In [23]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '2호선')].지하철역.nunique()

50

### 3호선 전처리

In [24]:
# 3호선 역 이름 확인
df[(df['호선명'] == '3호선') | (df['호선명'] == '일산선')].지하철역.unique()

array(['가락시장', '경복궁(정부서울청사)', '경찰병원', '고속터미널', '교대(법원.검찰청)', '구파발', '금호',
       '남부터미널(예술의전당)', '녹번', '대청', '대치', '도곡', '독립문', '동대입구', '매봉', '무악재',
       '불광', '수서', '신사', '안국', '압구정', '약수', '양재(서초구청)', '연신내', '오금', '옥수',
       '을지로3가', '일원', '잠원', '종로3가', '지축', '충무로', '학여울', '홍제', '대곡', '대화',
       '마두', '백석', '삼송', '원당', '원흥', '정발산', '주엽', '화정'], dtype=object)

In [25]:
# 3호선 역의 개수 확인
df[(df['호선명'] == '3호선') | (df['호선명'] == '일산선')].지하철역.nunique()

44

In [26]:
# '일산선' -> 3호선
df.replace('일산선', '3호선', inplace=True)

### 4호선 전처리

In [27]:
# 4호선 역 이름 확인
df[(df['호선명'] == '4호선') | (df['호선명'] == '안산선') | (df['호선명'] == '과천선')].지하철역.unique()

array(['길음', '남태령', '노원', '당고개', '동대문', '동대문역사문화공원', '동작(현충원)', '명동',
       '미아(서울사이버대학)', '미아사거리', '사당', '삼각지', '상계', '서울역', '성신여대입구(돈암)',
       '수유(강북구청)', '숙대입구(갈월)', '신용산', '쌍문', '이촌(국립중앙박물관)', '창동',
       '총신대입구(이수)', '충무로', '한성대입구(삼선교)', '혜화', '회현(남대문시장)', '경마공원', '과천',
       '대공원', '범계', '선바위', '인덕원', '정부과천청사', '평촌', '고잔', '대야미', '반월', '산본',
       '상록수', '수리산', '신길온천', '안산', '오이도', '정왕', '중앙', '초지', '한대앞'],
      dtype=object)

In [28]:
# 4호선 역의 개수 확인
df[(df['호선명'] == '4호선') | (df['호선명'] == '안산선') | (df['호선명'] == '과천선')].지하철역.nunique()

47

In [29]:
# 다르게 표기된 역 이름 수정
df.replace('총신대입구(이수)', '이수', inplace=True)
df.replace('미아(서울사이버대학)', '미아', inplace=True)
df.replace('성신여대입구(돈암)', '성신여대입구', inplace=True)

In [30]:
# 중복일이 있는지 확인
print(df[(df['지하철역'].str.contains('미아')) & (df['호선명'] == '4호선')].사용월.count()) # 미아사거리도 포함
print(df[(df['지하철역'].str.contains('성신여대')) & (df['호선명'] == '4호선')].사용월.count())

120
60

In [31]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '4호선') | (df['호선명'] == '안산선') | (df['호선명'] == '과천선')].지하철역.nunique()

47

In [32]:
# 금정역이 1호선으로 빠짐
df.loc[(df['지하철역'].str.contains('금정'))].호선명.unique()

array(['1호선'], dtype=object)

In [33]:
# '안산선','과천선' -> 4호선
df.replace(['안산선','과천선'], '4호선', inplace=True)

### 5호선 전처리

In [34]:
# 5호선 역 이름 확인
df[(df['호선명'] == '5호선') | (df['호선명'] == '하남선')].지하철역.unique()

array(['강동', '강일', '개롱', '개화산', '거여', '고덕', '공덕', '광나루(장신대)',
       '광화문(세종문화회관)', '군자(능동)', '굽은다리(강동구민회관앞)', '길동', '김포공항', '까치산',
       '답십리', '동대문역사문화공원', '둔촌동', '마곡', '마장', '마천', '마포', '명일', '목동',
       '미사', '발산', '방이', '방화', '상일동', '서대문', '송정', '신금호', '신길', '신정(은행정)',
       '아차산(어린이대공원후문)', '애오개', '양평', '여의나루', '여의도', '영등포구청', '영등포시장',
       '오금', '오목교(목동운동장앞)', '올림픽공원(한국체대)', '왕십리(성동구청)', '우장산', '을지로4가',
       '장한평', '종로3가', '천호(풍납토성)', '청구', '충정로(경기대입구)', '하남검단산',
       '하남시청(덕풍?신장)', '하남풍산', '행당', '화곡'], dtype=object)

In [35]:
# 5호선 역의 개수 확인
df[(df['호선명'] == '5호선') | (df['호선명'] == '하남선')].지하철역.nunique()

56

In [36]:
# 이상하게 표기된 역 이름 수정
df.replace('하남시청(덕풍?신장)', '하남시청', inplace=True)

In [37]:
# '하남선' -> 5호선
df.replace('하남선', '5호선', inplace=True)

### 6호선 전처리

In [38]:
# 6호선 역 이름 확인
df[(df['호선명'] == '6호선')].지하철역.unique()

array(['고려대(종암)', '공덕', '광흥창(서강)', '구산', '녹사평(용산구청)', '대흥(서강대앞)', '독바위',
       '돌곶이', '동묘앞', '디지털미디어시티', '마포구청', '망원', '버티고개', '보문', '봉화산(서울의료원)',
       '불광', '삼각지', '상수', '상월곡(한국과학기술연구원)', '새절(신사)', '석계', '신내', '신당',
       '안암(고대병원앞)', '약수', '역촌', '연신내', '월곡(동덕여대)', '월드컵경기장(성산)', '응암',
       '이태원', '증산(명지대앞)', '창신', '청구', '태릉입구', '한강진', '합정', '화랑대(서울여대입구)',
       '효창공원앞'], dtype=object)

In [39]:
# 6호선 역의 개수 확인
df[(df['호선명'] == '6호선')].지하철역.nunique()

39

### 7호선 전처리

In [40]:
# 7호선 역 이름 확인
df[(df['호선명'] == '7호선')].지하철역.unique()

array(['가산디지털단지', '강남구청', '건대입구', '고속터미널', '공릉(서울과학기술대)', '광명사거리',
       '군자(능동)', '굴포천', '까치울', '남구로', '남성', '내방', '노원', '논현', '대림(구로구청)',
       '도봉산', '뚝섬유원지', '마들', '먹골', '면목', '반포', '보라매', '부천시청', '부천종합운동장',
       '부평구청', '사가정', '삼산체육관', '상도', '상동', '상봉(시외버스터미널)', '수락산',
       '숭실대입구(살피재)', '신대방삼거리', '신중동', '신풍', '어린이대공원(세종대)', '온수(성공회대입구)',
       '용마산(용마폭포공원)', '이수', '장승배기', '장암', '중계', '중곡', '중화', '천왕', '철산',
       '청담', '춘의', '태릉입구', '하계', '학동', '용마산'], dtype=object)

In [41]:
# 7호선 역의 개수 확인
df[(df['호선명'] == '7호선')].지하철역.nunique()

52

In [42]:
# 다르게 표기된 역 이름 수정(용마산(용마폭포공원) -> 용마산)
df.replace('용마산(용마폭포공원)', '용마산', inplace=True)

In [43]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '7호선')].지하철역.nunique()

51

### 8호선 전처리

In [44]:
# 8호선 역 이름 확인
df[(df['호선명'] == '8호선')].지하철역.unique()

array(['가락시장', '강동구청', '남위례', '남한산성입구(성남법원.검찰청)', '단대오거리', '모란',
       '몽촌토성(평화의문)', '문정', '복정', '산성', '석촌', '송파', '수진', '신흥', '암사',
       '잠실(송파구청)', '장지', '천호(풍납토성)'], dtype=object)

In [45]:
# 8호선 역의 개수 확인
df[(df['호선명'] == '8호선')].지하철역.nunique()

18

### 9호선 전처리

In [46]:
# 9호선 역 이름 확인
df[(df['호선명'] == '9호선') | (df['호선명'] == '9호선2~3단계') | (df['호선명'] == '9호선2단계')].지하철역.unique()

array(['가양', '개화', '고속터미널', '공항시장', '구반포', '국회의사당', '김포공항', '노들', '노량진',
       '당산', '동작(현충원)', '등촌', '마곡나루(서울식물원)', '사평', '샛강', '선유도', '신논현',
       '신목동', '신반포', '신방화', '양천향교', '여의도', '염창', '증미', '흑석(중앙대입구)',
       '둔촌오륜', '봉은사', '삼성중앙', '삼전', '석촌', '석촌고분', '선정릉', '송파나루', '언주',
       '올림픽공원(한국체대)', '종합운동장', '중앙보훈병원', '한성백제', '마곡나루'], dtype=object)

In [47]:
# 9호선 역의 개수 확인
df[(df['호선명'] == '9호선') | (df['호선명'] == '9호선2~3단계') | (df['호선명'] == '9호선2단계')].지하철역.nunique()

39

In [48]:
# 다르게 표기된 역 이름 수정
df.replace('마곡나루(서울식물원)', '마곡나루', inplace=True)

In [49]:
# 중복일이 있는지 확인
print(df[(df['지하철역'].str.contains('마곡나루')) & (df['호선명'].str.contains('9호선'))].사용월.count())
print(df[(df['지하철역'].str.contains('종합운동장')) & (df['호선명'].str.contains('9호선'))].사용월.count())

60
60

In [50]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '9호선') | (df['호선명'] == '9호선2~3단계') | (df['호선명'] == '9호선2단계')].지하철역.nunique()

38

In [51]:
df.replace(['9호선2~3단계','9호선2단계'], '9호선', inplace=True)

In [52]:
df.to_csv('../data/수정 후 데이터/month_time_passengers.csv', index=False)